body{
    font-family: 'Noto Sans JP', sans-serif !important;
    text-align: center;
}

.content{
  margin: 0;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  left: 50%;
  -ms-transform: translateX (-50%);
  transform: translateX(-50%);
}

.header{
    color: #68246D;
}